<div class="registro-container">
    <h2>Registro de Empleado</h2>
    <form [formGroup]="empleadoForm" (ngSubmit)="registrarEmpleado()">
      <label>Nombre:</label>
      <input formControlName="nombre" type="text" />
  
      <label>Apellido:</label>
      <input formControlName="apellido" type="text" />
  
      <label>Correo:</label>
      <input formControlName="correo" type="email" />
  
      <label>Teléfono:</label>
      <input formControlName="telefono" type="text" />
  
      <label>Rol:</label>
      <select formControlName="rol" required>
        <option value="" disabled selected>Selecciona el rol del empleado</option>
        <option value="SUPER_ADMIN">SUPER ADMIN</option>
        <option value="ADMIN">ADMIN</option>
        <option value="TESORERIA">TESORERIA</option>
      </select>
  
      <button type="submit">Registrar</button>
    </form>
  
    <p>{{ mensaje }}</p>
  </div>