<main class="flex bg-gray-100 min-h-screen">
  <div class="h-[100vh] bg-white w-72 p-5 shadow-sm border border-gray-200 fixed">
    <div class="flex items-center gap-3 border-b border-b-gray-200 pb-5">
      <img src="/logo.svg" alt="Logo" />
      <h1 class="text-3xl font-bold">AgoraAdmin</h1>
    </div>
    <div class="w-full flex-col mt-5">
      <a class="bg-blue-900 flex py-3 px-5 text-white rounded-lg gap-2" href="#">
        <lucide-angular [img]="DashboardIcon" class="size-5"></lucide-angular>
        Dashboard
      </a>

      <a
        class="flex mt-3 py-3 px-5 rounded-lg gap-2 hover: hover:bg-gray-200 transition-all duration-300"
        href="/arquitectura/modulos"
      >
        <lucide-angular [img]="ApplicantsIcon" class="size-5"></lucide-angular>
        Modulos
      </a>


      <button
        class="w-full flex mt-3 py-3 px-5 rounded-lg gap-2 hover: hover:bg-gray-200 transition-all duration-300"
        (click)="cerrarSesion()"
        type="button"
      >
        <lucide-angular [img]="LogoutIcon" class="size-5"></lucide-angular>
        Cerrar Sesion
      </button>
    </div>
  </div>
  <div class="w-full sm:ml-72 lg:ml-52 bg-gray-100">
    <div class="lg:pl-30 lg:pr-10 pb-12 pt-5">
      <router-outlet />
    </div>
  </div>
</main>
